.logo{
    padding-top: 10%;
    padding-left: 40%;
}
.searchbar{
    padding-top: 20px;
    padding-left: 33%;
    
}
.gmail{
    margin-right: 10px;
    text-decoration: none;
    color: black;
}
.images{
    text-decoration: none;
    color: black;
}
.searchbar input[type=text] {
    border: 1px solid black;
    height: 30px;
    width: 500px;  
    border-radius: 25px;
  }
.navbar{
    float: right;
    margin-right: 20px;
}
.buttons{
    padding-top: 40px;
    padding-left: 40%;
}
.footer{
    position: fixed;
    width: 100%;
    bottom: 0cm;
    background-color: grey;
}
p.footer{
    float: left;
    margin-right: 10px;
}